<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form th:action="@{/api/auth/server-login}" method="post">
    <div>
      <input type="text" id="username" name="username"/>
    </div>
    <div>
      <input type="password" id="password" name="password"/>
    </div>
    <div>
      <input type="submit" id="submit" value="Login" />
    </div>
  </form>
</body>
</html>